QWidget {
    background-color: deepskyblue;
    color: black;
    /* font-family: "Monaco", "Lucida Console", Serif; */
}

QGraphicsView {
    background-color: white;
    border-radius: 10px;
}

QLabel {
    background-color: transparent;
    color: black;
    text-align: center;
}

QPushButton {
    background-color: skyblue;
    color: black;
}

QPushButton:hover{
    border: lightskyblue 2px solid;
}

QLabel#lblMainSci,QLabellblMainAcc {
    background-color: skyblue;
    border-bottom: cornflowerblue 2px solid;
    color: black;
    text-align: center;
}

QPushButton#btnMainHome,QPushButton#btnMainFunCat,QPushButton#btnMainLogin {
    background-color: skyblue;
    border-radius: 0;
    color: black;
}

QPushButton#btnMainHome:hover,QPushButton#btnMainFunCat:hover,QPushButton#btnMainLogin:hover {
    border: lightskyblue 2px solid;
}

QFrame {
    background-color: white;
}